<!DOCTYPE html>
<html lang="en">
<head>



    <title>BEdotNINJA</title>
    <meta charset="UTF-8">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Energy Systems and Sustainable Cities group</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{{ url_for('static',filename='css/agency.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom.css') }}">






    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body {
          margin: 0;
          padding: 0;
        }

        #map {
            position: relative;
            height: inherit;
            width: inherit;
        }

        #map-container {
            position: absolute;
            height: 1300px;
            width: 90%;
            left: 10%;
            top: 2500px;
        }

        /* The location info and select building menus */
        .locationInfo, .select-building {
          position: relative;
          font-family: sans-serif;
          display: none;
          top: 1599px;
          left: 10%;
          padding: 5px;
          width: 30%;
          border: 2px solid black;
          font-size: 14px;
          color: #222;
          background-color: #fff;
          border-radius: 3px;
        }

        /* The menu for configuring the loads and downloading the heat and cooling loads */
        .content {
          position: relative;
          padding: 18px;
          display: none;
          width: 30%;
          top: 1599px;
          left: 10%;
          border: none;
          overflow: hidden;
          background-color: #f1f1f1;
        }

        /* The buttons which toggle the collapsible menus for the tool */
        .collapsible {
          position: relative;
          display: block;
          font-family: sans-serif;
          background-color: #777;
          color: white;
          cursor: pointer;
          padding: 18px;
          width: 30%;
          top: 1599px;
          left: 10%;
          border: none;
          text-align: center;
          outline: none;
          font-size: 15px;
        }

        .active, .collapsible:hover {
          background-color: #555;
        }

        /* The residential and commercial building images for the tool */
        .building-img{
            width:210px;
            height:128px;
            cursor:pointer;
        }

        .building-img:hover {
            outline: 2px solid black;
        }

        .building-img:focus {
            outline: 2px solid black;
        }

        label {
          display: inline;
        }

        output {
          margin-left: 50%;
          margin-top: -10px;
          margin-bottom: -10px;
        }

        iframe {
            margin-top: -5%;
            margin-bottom: 0px;
            margin-left: 25%;
            -moz-border-radius: 12px;
            -webkit-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 4px 4px 14px #2c3d5387;
            -webkit-box-shadow: 4px 4px 14px #2c3d5387;
            box-shadow: 4px 4px 14px #2c3d5387;
        }


        /* Container for info slideshow located in home section */
        .tips-container {
            position: relative;
        }

        /* Slides for info slideshow located in home section */
        .tips{
            display: none;
            position: relative;
            padding: 80px;
            text-align: center;
        }

        /* Next & previous buttons for info slideshow located in home section */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            width: auto;
            top: 120px;
            margin-top: -10px;
            padding: 16px;
            font-weight: bold;
            font-size: 20px;
            user-select: none;
        }

        .prev {
            left: 30px;
            border-radius: 3px 0 0 3px;
            color: white;
        }

        .next {
            left: 1070px;
            border-radius: 3px 0 0 3px;
            color: white;
        }

        /* Container for dots used in info slideshow located in home section */
        .dot-container {
            position: absolute;
            text-align: center;
            top: 700px;
            left: 730px;
        }


        /* Container for tutorial slideshow located in info section */
        .info-tips-container{
            position: absolute;
            left: 180px;
            top: 1300px;
            width: 750px;
        }

        /* Slides for tutorial slideshow located in info section */
        .info-tips {
            display: none;
            position: relative;
            padding: 80px;
            text-align: center;
        }

        /* Next & previous buttons for tutorial slideshow located in info section */
        .prev-info-tip, .next-info-tip {
            cursor: pointer;
            position: absolute;
            width: auto;
            top: 100px;
            margin-top: -10px;
            padding: 16px;
            font-weight: bold;
            font-size: 20px;
            user-select: none;
        }

        .prev-info-tip{
            left: 0px;
            border-radius: 3px 0 0 3px;
        }

        .next-info-tip {
            left: 700px;
            border-radius: 3px 0 0 3px;
        }

        /* Container for dots used in tutorial slideshow located in info section */
        .info-dot-container {
            position: absolute;
            text-align: center;
            top: 190px;
            left: 575px;
        }

        .prev:hover, .next:hover, .prev-info-tip:hover, .next-info-tip:hover {
            background-color: rgba(0,0,0,0.8);
        }

        /* The dots used for the slideshows in the home and info sections */
        .dot, .info-dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .info-dot {
            position:relative;
            left: -230px;
        }


        .active, .dot:hover, .info-dot:hover {
            background-color: #717171;
        }


        /* The tip located on the top right corner of the map */
        .help-tip{
            position: absolute;
            top: 2620px;
            left: 1350px;
            text-align: center;
            background-color: blue;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            font-size: 14px;
            line-height: 26px;
            cursor: default;
        }


        .help-tip:before{
            content:'?';
            font-weight: bold;
            color:#fff;
        }


        .help-tip:hover p{
            display:block;
            transform-origin: 100% 0%;
            -webkit-animation: fadeIn 0.3s ease-in-out;
            animation: fadeIn 0.3s ease-in-out;
        }

        /* The contents of the maptip */
        .help-tip p{
            display: none;
            text-align: left;
            background-color: #1E2021;
            padding: 20px;
            width: 300px;
            position: absolute;
            border-radius: 3px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            right: -4px;
            color: #FFF;
            font-size: 13px;
            line-height: 1.4;
        }

        .help-tip p:before{
            position: absolute;
            content: '';
            width:0;
            height: 0;
            border:6px solid transparent;
            border-bottom-color:#1E2021;
            right:10px;
            top:-12px;
        }


        /* The info section of building_energy */
        .info-section {
        }


        /* The text in the info section that is not part of the tutorial slideshow */
        .info-text {
        position: absolute;
        left: 130px;
        top: 1200px;
        padding-left: 100px;
        width: 800px;
        }


        /* Setting the size of the text in the info section is not part of the tutorial slideshow */
        .info-text p{
        font-size: 20px;
        }

        /* The container for the images located in the info section */
        .info-img-container {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 1050px;
            top: 1000px;
        }

        /* Size of each image located in the info section */
        .info-img{
            width:400px;
            height:256px;
        }

        /* The citations, copy citation buttons and "citation:" text for all three sources in the references section */
        .citation, .citation-identifier, .copy-citation{
            position:absolute;
            left: 750px;
        }


        .citation{
            width: 500px;
        }

        /* Container for the images used in the references section */
        .citation-img-container{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 5000px;
            left: 50px;
            margin-left: 10%;
        }

        /* Size of each image located in the references section, cursor will be a pointer when hovering over one of the images */
        .citation-img{
            width:500px;
            cursor:pointer;
        }

        .citation-img:hover {
            outline: 2px solid black;
        }

        .citation-img-overlay{
            position: relative;
            background: gray;
            color: #f1f1f1;
            width: 500px;
            transition: .5s ease;
            opacity:0;
            color: white;
            font-size: 20px;
            padding: 6px;
            top: -38px;
            text-align: center;
        }

        /* Container for each image located in the references section */
        .individual-citation-img-container{
        }

        .individual-citation-img-container:hover .citation-img-overlay {
            opacity: 1;
        }

    </style>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background:#2c3d5387">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header navbar-brand page-scroll">
                <a href="https://www.uvic.ca" target="_blank" id="logo" style="black">
                  <img alt="University of Victoria" src="{{ url_for('static',filename='img/logos/uvic-logo-print.png') }}">
                </a>
                <a href="https://www.uvic.ca/engineering/civil/" target="_blank" id="unit" style="black">
                    <img alt="Civil Engineering" src="{{ url_for('static',filename='img/logos/civeng.png') }}">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#map-container">The tool</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#publications">References</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<header>
    <div class="container" height="500px">
        <div class="intro-text">
            <div class="intro-heading">building energy.ninja</div>
            <div class="intro-lead-in">by the <a href="https://energyincities.gitlab.io/website/" style="color: #c7b345">Energy in Cities group</a>, University of Victora</div>
            <div class="intro-lead-in">Providing instant building simulations using surrogate models.</div>
            <div class="tips-container">
                <div class="tips">
                    <H2 style="color:white"> Machine learning surrogate models were trained on EnergyPlus.</H2>
                </div>
                <div class="tips">
                    <H2 style="color:white"> The provide accurate simulation output estimates of the building heating and cooling load profiles (hourly) for any location in the world. </H2>
                </div>
                <div class="tips">
                    <H2 style="color:white"> Two building types (office, residential) are available with 13 parameters to customize the design.</H2>
                </div>
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
            </div>
            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            <!--
            <div class="col-sm-6" style="margin-top: 5%">
                <div id="mycarousel" class="carousel" data-ride="carousel">
                  <!- Wrapper for slides
                  <div class="carousel-inner" style="background-color: transparent; border-radius: 12px;">
                    <div class="item active" style="background-color: transparent; border-radius: 12px;">
                      <h3>Merging building energy simulations with machine learning surrogate models.</h3>
                        <img src="{{ url_for('static',filename='img/logos/eplus_tf.png') }}" style="margin-left: 25%; width: 50%">
                    </div>

                    <div class="item">
                      <h3>Pick a location on the map and specify your building design parameters.</h3>
                      <img src="{{ url_for('static',filename='img/logos/uvic-logo-print.png') }}">
                    </div>

                    <div class="item">
                      <img src="{{ url_for('static',filename='img/logos/eplus_tf.png') }}">
                    </div>
                  </div>
                    <!- Indicators
                  <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                  </ol>


                </div>
            </div>
            -->
      </div>
  </div>
</header>

    <section id="info-section">
        <div class="info-text">
            <p>By following the steps below, this tool simulates the heating demand or cooling demand of a
                user-specified building through the use of a deep temporal convolutional network as a building
                energy surrogate model.</p>
        </div>
        <div class="info-tips-container">
                <div class="info-tips">
                    <H3 style="color:black"> Step 1: Choose the building type you would like to simulate.</H3>
                </div>
                <div class="info-tips">
                    <H3 style="color:black"> Step 2: Pick a location on the map to run the simulation for.</H3>
                </div>
                <div class="info-tips">
                    <H3 style="color:black"> Step 3: Customize the building design and download the heating and cooling load.</H3>
                </div>
                <a class="prev-info-tip" onclick="plusInfoSlides(-1)">❮</a>
                <a class="next-info-tip" onclick="plusInfoSlides(1)">❯</a>
            <div class="info-dot-container">
                <span class="info-dot" onclick="currentInfoSlide(1)"></span>
                <span class="info-dot" onclick="currentInfoSlide(2)"></span>
                <span class="info-dot" onclick="currentInfoSlide(3)"></span>
            </div>
        </div>
        <div class="info-img-container">
            <div class="bottom-right" style="position: absolute;top: 237px;left: 222px; color: white; background: gray;">Victoria, warm climate, asf</div>
            <img src="{{ url_for('static',filename='img/info_1.png') }}" class="info-img">
            <div class="bottom-right" style="position: absolute;top: 493px;left: 217px; color: white; background: gray;">Edmonton, cold climate, asf</div>
            <img src="{{ url_for('static',filename='img/edmonton.png') }}" class="info-img">
            <div class="bottom-right" style="position: absolute;top: 749px;left: 239px; color: white; background: gray;">Ottawa, cold climate, asf</div>
            <img src="{{ url_for('static',filename='img/info_3.png') }}" class="info-img">
        </div>
    </section>



    <section id="tool">
        <div id="map-container">
            <div id='space' style="margin-top:100px;"></div>
            <div id='map'></div>
        </div>
        <div class="help-tip">
            <p>Locations on this map are coloured according to their Heading Degree Day.</p>
        </div>



    <button type="button" class="collapsible">Choose building type</button>
      <div class='locationInfo'>
          <p>Commercial<span style="margin:139px">Residential</span></p>
          <img src="{{ url_for('static',filename='img/Commercial-building.png') }}" class="building-img" id="commercial" onclick="commercialValue()" tabindex="0">
          <img src="{{ url_for('static',filename='img/Home.png') }}" class="building-img" id="residential" onclick="residentialValue()" tabindex="0">
      </div>


      <button type="button" class="collapsible">Set location</button>
      <div class='locationInfo'>
          <div><strong>Location:</strong> <span id='cit'></span></div>
          <div><strong>Heating Degree Day:</strong> <span id='heatdd'></span></div>
          <button style="width:180px;height:40px;"><a href="" id="ref" download style="color:black;"> Download Weather File</a></button>
      </div>

      <button type="button" class="collapsible">Set building design parameters</button>
      <div class="content">
          <form action="{{ url_for('predict')}}" method="post">
              <input type="hidden" id="fname" name="fname">
              <label for="NA" id="NA_label">North Axis </label>
              <input type="range" id="NA" name="NA" oninput="this.nextElementSibling.value = this.value" step="1">
              <output id="NA_output"></output>
              <br/>
              <label for="uval" id="uval_label">U-value [W/(mK)]</label>
              <input type="range" id="uval" name="u_value" oninput="this.nextElementSibling.value = this.value" step="0.001">
              <output id="uval_output"></output>
              <br/>
              <label for="thick" id="thick_label">Wall insulation thickness [m]</label>
              <input type="range" id="thick" name="thick" min="0.05" max="0.2" oninput="this.nextElementSibling.value = this.value" step="0.001">
              <output id="thick_output"></output>
              <br/>
              <label for="wind_trans" id="wind_trans_label">Window transmittance </label>
              <input type="range" id="wind_trans" name="wind_trans" min="0.1" max="0.7" oninput="this.nextElementSibling.value = this.value" step="0.001">
              <output id="wind_trans_output"></output>
              <br/>
              <label for="wind_cond" id="wind_cond_label">Window conductivity [W/(mK)]</label>
              <input type="range" id="wind_cond" name="wind_cond" oninput="this.nextElementSibling.value = this.value" step="0.0001">
              <output id="wind_cond_output"></output>
              <br/>
              <label for="wsa" id="wsa_label">Wall solar absorptance</label>
              <input type="range" id="wsa" name="wsa" min="0.7" max="0.95" oninput="this.nextElementSibling.value = this.value" step="0.01">
              <output id="wsa_output"></output>
              <br/>
              <label for="hsp" id="hsp_label">Heating setpoint [C]</label>
              <input type="range" id="hsp" name="hsp" min="18" max="22" oninput="this.nextElementSibling.value = this.value" step="0.01">
              <output id="hsp_output"></output>
              <br/>
              <label for="csp" id="csp_label">Cooling setpoint [C] </label>
              <input type="range" id="csp" name="csp"  oninput="this.nextElementSibling.value = this.value" step="0.01">
              <output id="csp_output"></output>
              <br/>
              <label for="eq" id="eq_label">Equipment Gains [W/m2]</label>
              <input type="range" id="eq" name="eq"  oninput="this.nextElementSibling.value = this.value" step="0.01">
              <output id="eq_output"></output>
              <br/>
              <label for="lg" id="lg_label">Light Gains [W/m2]</label>
              <input type="range" id="lg" name="lg" oninput="this.nextElementSibling.value = this.value" step="0.01">
              <output id="lg_output"></output>
              <br/>
              <label for="vent_rate" id="vent_rate_label">Ventilation rate [m3/(s*Person)] </label>
              <input type="range" id="vent_rate" name="vent_rate" min="0.005" max="0.01" oninput="this.nextElementSibling.value = this.value" step="0.0001">
              <output id="vent_rate_output"></output>
              <br/>
              <label for="inf_rate" id="inf_rate_label">Infiltration rate [m3/(s*m2)] </label>
              <input type="range" id="inf_rate" name="inf_rate" min="0.0001" max="0.0005" oninput="this.nextElementSibling.value = this.value" step="0.00001">
              <output id="inf_rate_output"></output>
              <br/>
              <label for="wtw" id="wtw_label">Window-to-wall ratio</label>
              <input type="range" id="wtw" name="wtw" min="0.01" max="0.99" oninput="this.nextElementSibling.value = this.value" step="0.01">
              <output id="wtw_output"></output>
              <br/>
              <button type="submit" id="run" style="width:140px;height:50px;margin-right:125px;">Get Heating loads </button>
              <button type="submit" id="run2" style="width:140px;height:50px;">Get Cooling loads </button>
          </form>
      </div>


    </section>


    <section id="publications-section">
        <div class="citation-img-container" id="publications">
            <div id='empty-space-2' style="margin-top:100px;"></div>
            <h3 style="margin-bottom:50px;">Related research works:</h3>
            <div class="individual-citation-img-container">
                <a href="https://doi.org/10.1016/j.apenergy.2020.115563" target="_blank"><img src="{{ url_for('static',filename='img/article1-figure.png') }}" class="citation-img">
                </a>
                <div class="citation-img-overlay">Click to read article</div>
            </div>
            <div class="individual-citation-img-container">
                <a href="https://doi.org/10.1016/j.egyai.2020.100039" target="_blank"><img src="{{ url_for('static',filename='img/article-2-figure.png') }}" class="citation-img">
                </a>
                <div class="citation-img-overlay">Click to read article</div>
            </div>
            <div class="individual-citation-img-container">
                <a href="http://hdl.handle.net/1828/12127" target="_blank"><img src="{{ url_for('static',filename='img/article-3-figure.png') }}" class="citation-img">
                </a>
                <div class="citation-img-overlay">Click to read article</div>
            </div>
        </div>
        <p class="citation-identifier" style="top:5195px;">Citation:</p>
        <p class="citation-identifier" style="top:5545px;">Citation:</p>
        <p class="citation-identifier" style="top:6065px;">Citation:</p>
        <p id="citation-1" class="citation" style="top:5225px;"> Westermann, Paul, Matthias Welzel, and Ralph Evins. "Using a deep temporal convolutional
            network as a building energy surrogate model that spans multiple climate zones."
            Applied Energy 278 (2020): 115563.</p>
        <p id="citation-2" class="citation" style="top:5575px;"> Westermann, Paul, and Ralph Evins. "Surrogate modelling for sustainable building design–A
            review." Energy and Buildings 198 (2019): 170-186.</p>
        <p id="citation-3" class="citation" style="top:6095px;"> Westermann, Paul W. Advancing surrogate modelling for sustainable building design. Diss. 2020.
            http://hdl.handle.net/1828/12127</p>
        <button class="copy-citation" onclick="copyCitation('citation-1')" style="top:5315px;">Copy citation</button>
        <button class="copy-citation" onclick="copyCitation('citation-2')" style="top:5635px;">Copy citation</button>
        <button class="copy-citation" onclick="copyCitation('citation-3')" style="top:6155px;">Copy citation</button>
    </section>







  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZW5lcmd5LWluLWNpdGllcyIsImEiOiJja2dnbW81c3Uxc2w3MnlxYWN5bWphbWN6In0.0qz7-jRcUrnx2_q_WBBsRg';
    var map = new mapboxgl.Map({
      container: 'map', // Specify the container ID
      style: 'mapbox://styles/mapbox/outdoors-v11', // Specify which map style to use
      center: [-112.15, 60.4], // Specify the starting position [lng, lat]
      zoom: 3.3 // Specify the starting zoom
    });
    $("tool").on('shown.bs.modal', function() {
    console.log('hello')
    map.resize();
    });

    var coll = document.getElementsByClassName("collapsible");
    console.log(coll)
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }




    var magDisplay = document.getElementById('alti');
    var locDisplay = document.getElementById('cit');
    var hiddenFname = document.getElementById('fname');
    var hddDisplay= document.getElementById('heatdd');





    map.on('load', function() {
        map.addSource('my-data', {
          "type": "geojson",
          "data": "{{ url_for('static',filename='sourcedata.geojson') }}",
          "generateId": true
        });
       map.addLayer({
         'id': 'my-data-viz',
         'type': 'circle',
         'source': 'my-data',
         'paint': {
         'circle-stroke-color': '#000',
         'circle-stroke-width': 1,

         // Circle color based on heat degree day value
         'circle-color': [
                "case",
                [">", ["get", "hdd"], 10000], "purple",
                [">", ["get", "hdd"], 6000], "blue",
                [">", ["get", "hdd"], 5000], "yellow",
                [">", ["get", "hdd"], 4000], "orange",
                [">", ["get", "hdd"], 0], "red",
                "#FF0099"
            ]
         }
       });
    });

    var quakeID = null;
    // Create a popup, but don't add it to the map yet.
    var popup = new mapboxgl.Popup({
    closeButton: false,
    closeOnClick: false
    });




    map.on('mousemove', 'my-data-viz', (e) => {

      map.getCanvas().style.cursor = 'pointer';
      // Set variables equal to the current locations altitute and city name

      var quakeMagnitude = e.features[0].properties.altitude;
      var quakeLocation = e.features[0].properties.city;
      var coordinates = e.features[0].geometry.coordinates.slice();

      // Check whether features exist
      if (e.features.length > 0) {


        // If quakeID for the hovered feature is not null,
        // use removeFeatureState to reset to the default behavior
        if (quakeID) {
          map.removeFeatureState({
            source: "my-data",
            id: quakeID
          });
        }

        quakeID = e.features[0].id;

        // When the mouse moves over the earthquakes-viz layer, update the
        // feature state for the feature under the mouse
        map.setFeatureState({
          source: 'my-data',
          id: quakeID,
        }, {
          hover: true
        });

      popup.setLngLat(coordinates).setHTML(quakeLocation).addTo(map);


      }
    });

    // When a click event occurs on a feature in the my-data layer, open a popup at the
    // location of the feature, with description HTML from its properties.
    map.on('click', 'my-data-viz', function (e) {

    // Change color of the considered location??

    // Display the magnitude, location, and time in the sidebar
    hiddenFname.value = e.features[0].properties.filename;
    locDisplay.textContent = e.features[0].properties.city;
    hddDisplay.textContent = e.features[0].properties.hdd;
    document.getElementById('ref').href = '/static/data/' +  e.features[0].properties.filename;
    //dateDisplay.textContent = quakeDate;
    });





      map.on("mouseleave", "my-data-viz", function() {
      if (quakeID) {
        map.setFeatureState({
          source: 'my-data',
          id: quakeID
        }, {
          hover: false
        });
        popup.remove()
      }

      quakeID = null;

      map.getCanvas().style.cursor = '';
    });

    // Setting up the previous and next buttons as well aas the dots for the info slideshow located in the home section
    // so that they show the appropriate info slide
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("tips");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}


// Setting up the previous and next buttons as well aas the dots for the tutorial slideshow located in the info section
// so that they show the appropriate tutorial slide
var infoSlideIndex = 1;
    showInfoSlides(infoSlideIndex);

    function plusInfoSlides(n) {
        showInfoSlides(infoSlideIndex += n);
    }

    function currentInfoSlide(n) {
      showInfoSlides(infoSlideIndex = n);
    }

    function showInfoSlides(n) {
  var j;
  var infoSlides = document.getElementsByClassName("info-tips");
  var infoDots = document.getElementsByClassName("info-dot");
  if (n > infoSlides.length) {infoSlideIndex = 1}
  if (n < 1) {infoSlideIndex = infoSlides.length}
  for (j = 0; j < infoSlides.length; j++) {
      infoSlides[j].style.display = "none";
  }
  for (j = 0; j < infoDots.length; j++) {
      infoDots[j].className = infoDots[j].className.replace(" active", "");
  }
  infoSlides[infoSlideIndex-1].style.display = "block";
  infoDots[infoSlideIndex-1].className += " active";
}

    // Setting the building parameters to commercial building values
    function commercialValue(){
        document.getElementById("NA").min = 0;
        document.getElementById("NA").max = 360;
        document.getElementById("NA").value = "75";
        document.getElementById("NA_output").value = "75";
        document.getElementById("NA_label").textContent = "Commercial North Axis";
        document.getElementById("uval").min = 0;
        document.getElementById("uval").max = 0.1;
        document.getElementById("uval").value = "0.015";
        document.getElementById("uval_output").value = "0.015";
        document.getElementById("uval_label").textContent = "Commercial U-value [W/(mK)]";
        document.getElementById("thick").min = 0.05;
        document.getElementById("thick").max = 0.2;
        document.getElementById("thick").value = "0.199";
        document.getElementById("thick_output").value = "0.199";
        document.getElementById("thick_label").textContent = "Commercial Wall insulation thickness [m]";
        document.getElementById("wind_trans").min = 0.1;
        document.getElementById("wind_trans").max = 0.7;
        document.getElementById("wind_trans").value = "0.201";
        document.getElementById("wind_trans_output").value = "0.201";
        document.getElementById("wind_trans_label").textContent = "Commercial Window transmittance";
        document.getElementById("wind_cond").min = 0.008;
        document.getElementById("wind_cond").max = 0.05;
        document.getElementById("wind_cond").value = "0.042";
        document.getElementById("wind_cond_output").value = "0.042";
        document.getElementById("wind_cond_label").textContent = "Commercial Window conductivity [W/(mK)]";
        document.getElementById("wsa").min = 0.7;
        document.getElementById("wsa").max = 0.95;
        document.getElementById("wsa").value = "0.8";
        document.getElementById("wsa_output").value = "0.8";
        document.getElementById("wsa_label").textContent = "Commercial Wall solar absorptance";
        document.getElementById("hsp").min = 18;
        document.getElementById("hsp").max = 22;
        document.getElementById("hsp").value = "19.25";
        document.getElementById("hsp_output").value = "19.25";
        document.getElementById("hsp_label").textContent = "Commercial Heating setpoint [C]";
        document.getElementById("csp").min = 22.01;
        document.getElementById("csp").max = 26;
        document.getElementById("csp").value = "25.98";
        document.getElementById("csp_output").value = "25.98";
        document.getElementById("csp_label").textContent = "Commercial Cooling setpoint [C]";
        document.getElementById("eq").min = 10;
        document.getElementById("eq").max = 12;
        document.getElementById("eq").value = "11.32";
        document.getElementById("eq_output").value = "11.32";
        document.getElementById("eq_label").textContent = "Commercial Equipment Gains [W/m2]";
        document.getElementById("lg").min = 10;
        document.getElementById("lg").max = 12;
        document.getElementById("lg").value = "10.63";
        document.getElementById("lg_output").value = "10.63";
        document.getElementById("lg_label").textContent = "Commercial Light Gains [W/m2]";
        document.getElementById("vent_rate").min = 0.005;
        document.getElementById("vent_rate").max = 0.01;
        document.getElementById("vent_rate").value = "0.0067";
        document.getElementById("vent_rate_output").value = "0.0067";
        document.getElementById("vent_rate_label").textContent = "Commercial Ventilation rate [m3/(s*Person)]";
        document.getElementById("inf_rate").min = 0.0001;
        document.getElementById("inf_rate").max = 0.0005;
        document.getElementById("inf_rate").value = "0.00023";
        document.getElementById("inf_rate_output").value = "0.00023";
        document.getElementById("inf_rate_label").textContent = "Commercial Infiltration rate [m3/(s*m2)]";
        document.getElementById("wtw").min = 0.01;
        document.getElementById("wtw").max = 0.99;
        document.getElementById("wtw").value = "0.87";
        document.getElementById("wtw_output").value = "0.87";
        document.getElementById("wtw_label").textContent = "Commercial Window-to-wall ratio";
    }

    // Set Building Parameters to default to commercial building values when building_energy is first started
    commercialValue()


    // Setting the building parameters to residential building values
    function residentialValue(){
        document.getElementById("NA").min = 19;
        document.getElementById("NA").max = 300;
        document.getElementById("NA").value = "123";
        document.getElementById("NA_output").value = "123";
        document.getElementById("NA_label").textContent = "Residential North Axis";
        document.getElementById("uval").min = "0.02";
        document.getElementById("uval").max = "0.15";
        document.getElementById("uval").value = "0.075";
        document.getElementById("uval_output").value = "0.075";
        document.getElementById("uval_label").textContent = "Residential U-value [W/(mK)]";
        document.getElementById("thick").min = "0.04";
        document.getElementById("thick").max = "0.25";
        document.getElementById("thick").value = "0.109";
        document.getElementById("thick_output").value = "0.109";
        document.getElementById("thick_label").textContent = "Residential Wall insulation thickness [m]";
        document.getElementById("wind_trans").min = "0.151";
        document.getElementById("wind_trans").max = "0.65";
        document.getElementById("wind_trans").value = "0.401";
        document.getElementById("wind_trans_output").value = "0.401";
        document.getElementById("wind_trans_label").textContent = "Residential Window transmittance";
        document.getElementById("wind_cond").min = "0.0101";
        document.getElementById("wind_cond").max = "0.03";
        document.getElementById("wind_cond").value = "0.0122";
        document.getElementById("wind_cond_output").value = "0.0122";
        document.getElementById("wind_cond_label").textContent = "Residential Window conductivity [W/(mK)]";
        document.getElementById("wsa").min = "0.65";
        document.getElementById("wsa").max = "0.91";
        document.getElementById("wsa").value = "0.86";
        document.getElementById("wsa_output").value = "0.86";
        document.getElementById("wsa_label").textContent = "Residential Wall solar absorptance";
        document.getElementById("hsp").min = "19.5";
        document.getElementById("hsp").max = "23.1";
        document.getElementById("hsp").value = "21.25";
        document.getElementById("hsp_output").value = "21.25";
        document.getElementById("hsp_label").textContent = "Residential Heating setpoint [C]";
        document.getElementById("csp").min = "21.56.";
        document.getElementById("csp").max = "26.32";
        document.getElementById("csp").value = "22.98";
        document.getElementById("csp_output").value = "22.98";
        document.getElementById("csp_label").textContent = "Residential Cooling setpoint [C]";
        document.getElementById("eq").min = "10.12";
        document.getElementById("eq").max = "13.32";
        document.getElementById("eq").value = "10.32";
        document.getElementById("eq_output").value = "10.32";
        document.getElementById("eq_label").textContent = "Residential Equipment Gains [W/m2]";
        document.getElementById("lg").min = "10.41";
        document.getElementById("lg").max = "14.69";
        document.getElementById("lg").value = "11.63";
        document.getElementById("lg_output").value = "11.63";
        document.getElementById("lg_label").textContent = "Residential Light Gains [W/m2]";
        document.getElementById("vent_rate").min = "0.001";
        document.getElementById("vent_rate").max = "0.009";
        document.getElementById("vent_rate").value = "0.0087";
        document.getElementById("vent_rate_output").value = "0.0087";
        document.getElementById("vent_rate_label").textContent = "Residential Ventilation rate [m3/(s*Person)]";
        document.getElementById("inf_rate").min = "0.0002";
        document.getElementById("inf_rate").max = "0.0004";
        document.getElementById("inf_rate").value = "0.00037";
        document.getElementById("inf_rate_output").value = "0.00037";
        document.getElementById("inf_rate_label").textContent = "Residential Infiltration rate [m3/(s*m2)]";
        document.getElementById("wtw").min = "0.05";
        document.getElementById("wtw").max = "0.92";
        document.getElementById("wtw").value = "0.37";
        document.getElementById("wtw_output").value = "0.37";
        document.getElementById("wtw_label").textContent = "Residential Window-to-wall ratio";
    }

// Copy citation if the user were to select the "Copy Selection" button for one of the citations in the references section
function copyCitation(id) {
    var text = document.getElementById(id).innerText;
    var elem = document.createElement("textarea");
    document.body.appendChild(elem);
    elem.value = text;
    elem.select();
    document.execCommand("copy");
    document.body.removeChild(elem);
}


  </script>









</body>
</html>

