<!DOCTYPE html>
<html lang="en">
<head>



    <title>BEdotNINJA</title>
    <meta charset="UTF-8">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Energy Systems and Sustainable Cities group</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{{ url_for('static',filename='css/agency.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom.css') }}">






    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body {
          margin: 0;
          padding: 0;
        }

        #map {
            position: relative;
            height: inherit;
            width: inherit;
        }

        #map-container {
            position: relative;
            height: 900px;
            width: 90%;
            left: 10%;
        }


        .locationInfo {
          position: relative;
          font-family: sans-serif;
          top: -900px;
          left: 10%;
          margin-left: 6px;
          padding: 5px;
          width: 30%;
          border: 2px solid black;
          font-size: 14px;
          color: #222;
          background-color: #fff;
          border-radius: 3px;
        }

        .collapsible {
          position: relative;
          font-family: sans-serif;
          background-color: #777;
          color: white;
          cursor: pointer;
          padding: 18px;
          width: 30%;
          top: -900px;
          left: 10%;
          border: none;
          text-align: center;
          margin-left: 6px;
          outline: none;
          font-size: 15px;
        }

        .active, .collapsible:hover {
          background-color: #555;
        }

        .content {
          position: relative;
          padding: 18px;
          display: none;
          width: 30%;
          top: -900px;
          left: 10%;
          border: none;
          margin-left: 7px;
          overflow: hidden;
          background-color: #f1f1f1;
        }

        label {
          display: inline;
        }

        output {
          margin-left: 50%;
          margin-top: -10px;
          margin-bottom: -10px;
        }

        iframe {
            margin-top: -5%;
            margin-bottom: 0px;
            margin-left: 25%;
            -moz-border-radius: 12px;
            -webkit-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 4px 4px 14px #2c3d5387;
            -webkit-box-shadow: 4px 4px 14px #2c3d5387;
            box-shadow: 4px 4px 14px #2c3d5387;
        }




    </style>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background:#2c3d5387">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header navbar-brand page-scroll">
                <a href="https://www.uvic.ca" target="_blank" id="logo" style="black">
                  <img alt="University of Victoria" src="{{ url_for('static',filename='img/logos/uvic-logo-print.png') }}">
                </a>
                <a href="https://www.uvic.ca/engineering/civil/" target="_blank" id="unit" style="black">
                    <img alt="Civil Engineering" src="{{ url_for('static',filename='img/logos/civeng.png') }}">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#tool">The tool</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#publications">Research overview</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<header>
    <div class="container" height="500px">
        <div class="intro-text">
            <div class="intro-heading">Building Energy dot Ninja</div>
            <div class="intro-lead-in">by the <a href="https://energyincities.gitlab.io/website/" style="color: #c7b345">Energy in Cities group</a>, University of Victora</div>
            <!--
            <div class="col-sm-6" style="margin-top: 5%">
                <div id="mycarousel" class="carousel" data-ride="carousel">
                  <!-- Wrapper for slides
                  <div class="carousel-inner" style="background-color: transparent; border-radius: 12px;">
                    <div class="item active" style="background-color: transparent; border-radius: 12px;">
                      <h3>Merging building energy simulations with machine learning surrogate models.</h3>
                        <img src="{{ url_for('static',filename='img/logos/eplus_tf.png') }}" style="margin-left: 25%; width: 50%">
                    </div>

                    <div class="item">
                      <h3>Pick a location on the map and specify your building design parameters.</h3>
                      <img src="{{ url_for('static',filename='img/logos/uvic-logo-print.png') }}">
                    </div>

                    <div class="item">
                      <img src="{{ url_for('static',filename='img/logos/eplus_tf.png') }}">
                    </div>
                  </div>
                    <!-- Indicators
                  <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                  </ol>


                </div>
            </div>
            -->
      </div>
  </div>
</header>

<section id="tool">
    <div id="map-container">
      <div id='map'></div>
    </div>

      <div class='locationInfo'>
          <div><h2>Building Energy dot ninja - Leveraging surrogate building energy models.</h2></div>
          <div><strong>Location:</strong> <span id='cit'></span></div>
          <div><strong>Altitude:</strong> <span id='alti'></span></div>
      </div>

      <button type="button" class="collapsible">Set building design parameters</button>
      <div class="content">
          <form action="{{ url_for('predict')}}" method="post">
              <input type="hidden" id="fname" name="fname">
              <label for="NA">North Axis </label>
              <input type="range" id="NA" name="NA" min="0" max="360" oninput="this.nextElementSibling.value = this.value" step="1">
              <output>180</output>
              <label for="uval">U-value [W/(mK)]</label>
              <input type="range" id="uval" name="u_value" min="0" max="0.1" oninput="this.nextElementSibling.value = this.value" step="0.001">
              <output>0.05</output>
              <label for="thick">Wall insulation thickness [m]</label>
              <input type="range" id="thick" name="thick" min="0.05" max="0.2" oninput="this.nextElementSibling.value = this.value" step="0.001">
              <output>0.125</output>
              <label for="wind_trans">Window transmittance </label>
              <input type="range" id="wind_trans" name="wind_trans" min="0.1" max="0.7" oninput="this.nextElementSibling.value = this.value" step="0.001">
              <output>0.4</output>
              <label for="wind_cond">Window conductivity [W/(mK)]</label>
              <input type="range" id="wind_cond" name="wind_cond" min="0.008" max="0.05" oninput="this.nextElementSibling.value = this.value" step="0.0001">
              <output>0.024</output>
              <label for="wsa">Wall solar absorptance</label>
              <input type="range" id="wsa" name="wsa" min="0.7" max="0.95" oninput="this.nextElementSibling.value = this.value" step="0.01">
              <output>0.83</output>
              <label for="hsp">Heating setpoint [C]</label>
              <input type="range" id="hsp" name="hsp" min="18" max="22" oninput="this.nextElementSibling.value = this.value" step="0.01">
              <output>20</output>
              <label for="csp">Cooling setpoint [C] </label>
              <input type="range" id="csp" name="csp" min="22.01" max="26" oninput="this.nextElementSibling.value = this.value" step="0.01">
              <output>24</output>
              <label for="eq">Equipment Gains [W/m2]</label>
              <input type="range" id="eq" name="eq" min="10" max="12" oninput="this.nextElementSibling.value = this.value" step="0.01">
              <output>11</output>
              <label for="lg">Light Gains [W/m2]</label>
              <input type="range" id="lg" name="lg" min="10" max="12" oninput="this.nextElementSibling.value = this.value" step="0.01">
              <output>11</output>
              <label for="vent_rate">Ventilation rate [m3/(s*Person)] </label>
              <input type="range" id="vent_rate" name="vent_rate" min="0.005" max="0.01" oninput="this.nextElementSibling.value = this.value" step="0.0001">
              <output>0.0075</output>
              <label for="inf_rate">Infiltration rate [m3/(s*m2)] </label>
              <input type="range" id="inf_rate" name="inf_rate" min="0.0001" max="0.0005" oninput="this.nextElementSibling.value = this.value" step="0.00001">
              <output>0.0003</output>
              <label for="wtw">Window-to-wall ratio</label>
              <input type="range" id="wtw" name="wtw" min="0.01" max="0.99" oninput="this.nextElementSibling.value = this.value" step="0.01">
              <output>0.5</output>
              <button type="submit" id="run" width="30%">Get loads </button>
          </form>
      </div>


</section>


<section id="publications">
    <div style="left: 500px;">
    <iframe src="https://onedrive.live.com/embed?cid=1E5104F1B26B2BDA&amp;resid=1E5104F1B26B2BDA%2145730&amp;authkey=AOHW9-VN4sCgXcA&amp;em=2&amp;wdAr=1.7777777777777777" width="1220px" height="734px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
    </div>
</section>






  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZW5lcmd5LWluLWNpdGllcyIsImEiOiJja2dnbW81c3Uxc2w3MnlxYWN5bWphbWN6In0.0qz7-jRcUrnx2_q_WBBsRg';
    var map = new mapboxgl.Map({
      container: 'map', // Specify the container ID
      style: 'mapbox://styles/mapbox/outdoors-v11', // Specify which map style to use
      center: [-112.15, 60.4], // Specify the starting position [lng, lat]
      zoom: 3.3 // Specify the starting zoom
    });
    $("tool").on('shown.bs.modal', function() {
    console.log('hello')
    map.resize();
    });

    var coll = document.getElementsByClassName("collapsible");
    console.log(coll)
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }




    var magDisplay = document.getElementById('alti');
    var locDisplay = document.getElementById('cit');
    var hiddenFname = document.getElementById('fname');

    map.on('load', function() {
        map.addSource('my-data', {
          "type": "geojson",
          "data": "{{ url_for('static',filename='sourcedata.geojson') }}",
          "generateId": true
        });
       map.addLayer({
         'id': 'my-data-viz',
         'type': 'circle',
         'source': 'my-data',
         'paint': {
         'circle-stroke-color': '#000',
         'circle-stroke-width': 1,
         'circle-color': '#000'
         }
       });
    });

    var quakeID = null;
    // Create a popup, but don't add it to the map yet.
    var popup = new mapboxgl.Popup({
    closeButton: false,
    closeOnClick: false
    });




    map.on('mousemove', 'my-data-viz', (e) => {

      map.getCanvas().style.cursor = 'pointer';
      // Set variables equal to the current locations altitute and city name

      var quakeMagnitude = e.features[0].properties.altitude;
      var quakeLocation = e.features[0].properties.city;
      var coordinates = e.features[0].geometry.coordinates.slice();

      // Check whether features exist
      if (e.features.length > 0) {


        // If quakeID for the hovered feature is not null,
        // use removeFeatureState to reset to the default behavior
        if (quakeID) {
          map.removeFeatureState({
            source: "my-data",
            id: quakeID
          });
        }

        quakeID = e.features[0].id;

        // When the mouse moves over the earthquakes-viz layer, update the
        // feature state for the feature under the mouse
        map.setFeatureState({
          source: 'my-data',
          id: quakeID,
        }, {
          hover: true
        });

      popup.setLngLat(coordinates).setHTML(quakeLocation).addTo(map);


      }
    });

    // When a click event occurs on a feature in the my-data layer, open a popup at the
    // location of the feature, with description HTML from its properties.
    map.on('click', 'my-data-viz', function (e) {

    // Change color of the considered location??

    // Display the magnitude, location, and time in the sidebar
    hiddenFname.value = e.features[0].properties.filename;
    magDisplay.textContent = e.features[0].properties.altitude;
    locDisplay.textContent = e.features[0].properties.city;
    //dateDisplay.textContent = quakeDate;
    });





      map.on("mouseleave", "my-data-viz", function() {
      if (quakeID) {
        map.setFeatureState({
          source: 'my-data',
          id: quakeID
        }, {
          hover: false
        });
        popup.remove()
      }

      quakeID = null;

      map.getCanvas().style.cursor = '';
    });



  </script>









</body>
</html>

