.portfolio-link {
  color: inherit;
}
.portfolio-row {
  display: table;
  width: 100%;
}

.portfolio-item {
  padding: 0px;
  display: table-cell;
}

.a-portfolio {
  background: #E8E8E8;
  padding: 10px;
  margin: 5px;
}

.horizontal-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#clients .flex-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#clients .flex-container a {
  width: 30%;
}

#vacancy {
  background: rgba(255, 255, 255, 0.7);
}

#vacancy li {
    display: block;
}

#vacancy li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: white;
}

#vacancies ul {
  margin-top: 10px;
}

#vacancies {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
              url('../img/university-of-victoria-aerial-view.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#vacancies .section-heading,
#vacancies .section-subheading {
  color: white;
}